@font-face {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Alegreya-Regular.ttf");
}

@font-face {
  font-family: "Alegreya";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Alegreya-Italic.ttf");
}

@font-face {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Alegreya-Bold.ttf");
}

@font-face {
  font-family: "Alegreya";
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/Alegreya-BoldItalic.ttf");
}

/* ------------------------------ ALL ------------------------------*/

/* disable hyphenation */
* {
  adobe-hyphenate: none;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -epub-hyphens: none;
  hyphens: none;
}

/* ------------------------------ BODY ------------------------------*/

body {
  text-align: left;

  font-family: "Alegreya", serif;

  font-size: 1em;
  line-height: 1.5em;

  font-kerning: normal;
  font-variant: common-ligatures;
  font-feature-settings: "kern", "liga", "clig", "onum", "pnum";

  widows: 2;
  orphans: 2;
}

body * {
  line-height: inherit;
}

body > * + * {
  margin-top: 1rem;
  margin-bottom: 0;
}

div > table {
  margin-top: 1rem;
  margin-bottom: 0;
}

/* ------------------------------ HEADINGS ------------------------------*/

h1,
h2,
h3,
h4 {
  /* font-family: "Alegreya", serif; */
  /* font-weight: bold; */
  /* letter-spacing: 0.04em; */
  text-align: left;

  text-indent: 0;
  margin: 1rem 0;

  max-width: fit-content;
  font-family: "Alegreya";
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

h1,
h2 {
  break-after: avoid;
  break-before: always;
  page-break-after: avoid;
  page-break-before: always;
  padding: 0.1rem 0.2rem;

  background-color: #d7d7d7;
}

/* ------------------------------ TABLE OF CONTENTS ------------------------------*/

/* TOC first level */
ol.toc {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

/* TOC other levels */
ol ol.toc {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1rem;
}

ol.toc li {
  list-style-type: none;
}

ol.toc a {
  text-decoration: none;
}

/* ------------------------------ TEXT ------------------------------*/

p {
  margin: 1rem 0;
  /* Don't indent */
  text-indent: 0;
}

/* ------------------------------ LINKS ------------------------------*/

a {
  /* text-decoration: none; */
  color: currentColor;
  text-decoration: underline dotted 0.075rem;
}

nav#landmarks ol {
  list-style-type: none;
}

/* ------------------------------ LISTS ------------------------------*/

ul,
ol {
  list-style-position: outside;
}

ul {
  list-style-type: disc;
}

li {
  font-variant-numeric: tabular-nums;
}

ol {
  margin-left: 1rem;
}

/* ------------------------------ QUOTES ------------------------------*/

blockquote {
  margin-left: 0;
  border-left: 0.1rem solid #aaa;
}

blockquote p {
  text-indent: 0;
  padding-left: 0.75em;
}

/* ------------------------------ TITLEPAGE ------------------------------*/

section.titlepage {
  text-align: center;
  margin-top: 2rem;
}

section.titlepage > h1 {
  margin: auto;
}

section.titlepage > p.subtitle {
  font-style: italic;
}

/* ------------------------------ TABLES ------------------------------*/

table {
  break-inside: avoid;
  page-break-inside: avoid;
  border-collapse: collapse;
}

table th {
  border-bottom: 0.075rem solid currentColor;
}

th,
td {
  padding: 0.1rem 0.3rem;
}

tr {
  border-bottom: 0.05rem dotted currentColor;
}
