@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

$background-color: #26252b;
$heading-color: #e3e9f0;  
$text-color: #c9d1d9;      
$link-color: #f2c488;     
$visited-color: #26252b;  

body {
  font-family: 'Alegreya', serif;
  background-color: $background-color;
  color: $text-color;
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  color: $heading-color;
  font-weight: 600;
}

a {
  color: $link-color;
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  min-width: initial;
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

tr:nth-child(even) td {
  background-color: lighten($background-color, 5%);
}

tr:nth-child(odd) td {
  background-color: $background-color;
}

thead {
  display: none; 
}

button {
  border: none;
  background: inherit;
  text-decoration: underline;
  color: $heading-color;
}

img {
  max-width: 100%;
  height: auto;
}

.side-bar .site-nav, 
.side-bar .nav-list, 
.side-bar .nav-list-item, 
.side-bar .nav-list-link {
  font-size: 20px;
  font-family: 'Alegreya', serif;
}
