$background-color: #26252b; // Main background
$heading-color: #e3e9f0;    // Headings
$text-color: #c9d1d9;       // Text
$link-color: #f2c488;       // Links
$visited-color: #26252b;    // Visited links

body {
  font-family: 'Alegreya', serif;
  background-color: $background-color;
  color: $text-color;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  color: $heading-color;
  font-weight: 600;
}

a {
  color: $link-color;
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  min-width: initial;
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

tr:nth-child(even) td {
  background-color: lighten($background-color, 5%);
}

tr:nth-child(odd) td {
  background-color: $background-color;
}

thead {
  display: none; 
}

button {
  border: none;
  background: inherit;
  text-decoration: underline;
  color: $heading-color;
}

img {
  max-width: 100%;
  height: auto;
}
