@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Noto+Sans:ital,wdth,wght@0,91,100..900;1,91,100..900&family=Metamorphous&display=swap');


body{
  font-family: 'Averia Serif Libre', serif;
}

h1, h2, h3, h4 {
  font-family: "Metamorphous";
  font-weight: 700;
  font-style: normal;
}

tr:nth-child(even) td{
  background-color: #f2f2f2;
}

th, td {
  min-width: initial;
  padding-top: .35rem;
  padding-bottom: .35rem;
  padding-right: .5rem;
  padding-left: .5rem;
}

td {
  border-bottom: 0;
  border-left: 0;
}

thead{
  display: none;
}

tbody tr:last-of-type td{
  padding-bottom: .35rem;
}

h4, .text-delta{
font-size: 12px !important;
font-weight: 600;
text-transform: uppercase;
}

.nav-list .nav-list-item .nav-list-link {
font-size: 1rem;
}
