<html>
  <head>
    <meta charset="utf-8">
    <title>Character Generator</title>
    <h2>Character Generator</h2>
  </head>
  <body>
    <script type="text/javascript" src="/character-generator/js/generator.js"></script>
    <script type="text/javascript" src="/character-generator/js/cairn_data.js"></script>
    <div class="chargen">
      <h3>Appearance</h3>
      <span id="character"></span> You are <span id="age"></span> years old.
      <h3>Attributes</h3>
        <b>HP: </b>&nbsp;<span id="hp"></span><br>
        <b>Armor: </b>&nbsp;<span id="armorTotal"></span><br>
        <b>STR: </b>&nbsp;<span id="str"></span><br>
        <b>DEX: </b>&nbsp;<span id="dex"></span><br>
        <b>WIL: </b>&nbsp;<span id="wil"></span><br>
      <h3>Equipment</h3>
        <b>Armor: </b>&nbsp;<span id="armor" ></span><span id="helmet"></span><br>
        <b>Weapon: </b>&nbsp;<span id="weapons"></span><br>
        <b>Gear, tools & trinkets: </b>&nbsp;<span id="tool"></span>, <span id="gear"></span>, and <span id="trinket"></span><br>
        <b>Bonus item: </b>&nbsp;<span id="bonus"></span><br>
        <b>Starting supplies: </b>&nbsp;<span id="gold"></span> gold, a Torch, and three days' Rations<br>
        <b>Inventory: </b>&nbsp; using <span id="total"></span> out of 10 available slots<br>
        <script type="text/javascript" src="/character-generator/js/jquery-3.5.1.min.js"></script>
        <script type="text/javascript" src="/character-generator/js/main.js"></script>
      <h3>Notes</h3>
      <li>If an item "stacks" it uses up the same slot as another item!</li>
      <li>If your inventory is full, you are reduced to 0 HP.</li>
    </div>
  </body>
<br><br>
<a href="javascript:window.scrollTo(0,0); window.location.reload(true)">Reload this page</a> to generate a new character.
<br>Based on the original Cairn generator by <a href="https://nakade.itch.io">Nakade</a>.
<br>Relies on the incredible <a href="https://donjon.bin.sh/code/random">donjon generators</a>.
</html>
