<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cairn Character Generator</title>
    <h2>Cairn Character Generator</h2>
    <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@600&family=Libre+Baskerville:ital@0;1&display=swap" rel="stylesheet">
  </head>
  <body>
    <style media="screen">
      a:active {color: #2a9c56}
      a:visited {color: #1a7a3f}
      a:hover {color: #32b865}
      h2, h3 {margin-bottom: 0em; font-family: "Inknut Antiqua"}
      body {width: 800px; margin: auto; font-family: "Libre Baskerville"}
    </style>
     <script type="text/javascript" src="/resources/character-generator/js/generator.js"></script>
    <script type="text/javascript" src="/resources/character-generator/js/cairn_data.js"></script>
    <div class="chargen">
      <h3>Appearance</h3>
      <span id="character"></span><br>You are <b><span id="age"></span></b> years old.
      <h3>Attributes</h3>
      <table>
        <tr align="left"><th>HP: </th><td align="right" id="hp"></td></tr>
        <tr align="left"><th>Armor: </th><td align="right" id="armorTotal"></td></tr>
        <tr align="left"><th>STR: </th><td align="right" id="str"></td></tr>
        <tr align="left"><th>DEX: </th><td align="right" id="dex"></td></tr>
        <tr align="left"><th>WIL: </th><td align="right" id="wil"></td></tr>
        </table>
      <h3>Equipment</h3>
        <li><b>Armor: </b><span id="armor" ></span><span id="helmet"></span>.</li>
        <li><b>Weapon: </b><span id="weapons"></span>.</li>
        <li><b>Gear, tools & trinkets: </b><span id="tool"></span>, <span id="gear"></span>, and <span id="trinket"></span>.</li>
        <li><b>Bonus item: </b><span id="bonus"></span>.</li>
        <li><b>Starting supplies: </b><span id="gold"></span> gold, a torch, and three days' rations.</li>
        <li><b>Inventory: </b>using <b><span id="total"></b></span> out of <b>10</b> available slots.</li>
        <br><b>Notes: </b><br>If an item "stacks" it uses up the same slot as another item! <br>If your inventory is full, you are reduced to 0 HP.<br></li>
    </div>
    <script type="text/javascript" src="/resources/character-generator/js/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="/resources/character-generator/js/main.js"></script>
  </body>
<br><b>Reload to generate a new character.</b>
<br></br>
<br>
Based on <a href="https://cairnrpg.com">Cairn</a>. Maintained by <a href="https://newschoolrevolution.com">Yochai Gal</a>.
<br>Based on the original Cairn generator by <a href="https://nakade.itch.io">Nakade</a>.
<br>Relies on the incredible <a href="https://donjon.bin.sh/code/random">donjon generators</a>.
</html>
